.favContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heading {
    color: blue;
}
table,th,tr,td,thead {
    border-collapse: collapse;
    border: 2px solid grey;
}

td {
    text-align: center;
    padding:0.5rem;
    font-size: 1rem;
}
th {
    padding:0.5rem;
    font-size: 1rem;
    color: #D21312;
}
table {
    width:40vw;
   
}